/**
 * @name Anti-Refresh
 * @author NSPG911
 * @version 1.0.0
 * @description Snippets to unrefresh Discord's Visual Refresh
 * @source https://github.com/NSPC911/themes
*/

/* Fix folder icons */
._48112cbe77dc5022-folderHeaderSmall {
  --custom-folder-preview-padding: 4px;
}
._48112cbe77dc5022-folderPreviewGuildIcon {
  border-radius: 50% !important;
  font-size: 6px !important;
  line-height: 16px;
}

/* fix gone timestamps */
span.c19a557985eb7793-timestampInline time {
  font-size: 0px;
}

h3 > .c19a557985eb7793-timestamp > span.b18fe29d6fe8dd82-hiddenVisually {
  clip: unset;
  clip-path: unset;
  overflow: hidden;
  height: fit-content;
  position: relative;
}
