/**
 * @name Blurry Settings Modal
 * @author NSPG911
 * @version 1.0.0
 * @description Extension for the.rabbit.disabler's SettingsModal to make everything blurry!!
 * @source https://nspc911.github.io/themes/vencord/snippets
*/

:root {
  --blrsm-blur-by: 2px;
  --blrsm-dimmness: 25;
  --panel-backdrop-filter: none !important;
}

._23e6b439306f125a-standardSidebarView {
  background: none !important;
  /* more elements transparent! */
  ._23e6b439306f125a-contentRegion,
  ._23e6b439306f125a-sidebarRegionScroller,
  ._730694f5672c9601-cardPrimary,
  ._1fed1dd06c7aabf7-fieldList,
  ._535437b3d3b11fd1-scroller,
  ._88a69141dd70013a-item[role="radio"][aria-checked="false"] {
    background-color: transparent;
  }
  ._88a69141dd70013a-item[role="radio"][aria-checked="false"]:hover {
    background-color: var(--background-modifier-selected) !important;
  }
  ._88a69141dd70013a-item[role="radio"][aria-checked="true"] {
    background-color: color-mix(
      in srgb,
      transparent 50%,
      var(--background-mod-subtle)
    ) !important;
  }
  :not([aria-orientation="horizontal"])
    > .aa8da23faa27393c-item[role="tab"]:is(
      [aria-selected="true"],
      [aria-selected="false"]:hover
    ) {
    background-color: color-mix(
      in srgb,
      transparent 50%,
      var(--button-secondary-background)
    ) !important;
  }
  .c7e9071ee8df9113-searchBar,
  ._0ed4fc708cdbac0d-input,
  ._6a919231d4bdfd4f-bioTextAreaContainer,
  ._6a919231d4bdfd4f-bioTextArea,
  .a16aea1526925c2c-select,
  ._50a5493e9d9cc496-searchContainer > .container_a45028,
  .searchBar_cdb2b0 {
    background-color: color-mix(
      in srgb,
      transparent 50%,
      var(--input-background)
    ) !important;
  }
  ._1fed1dd06c7aabf7-accountProfileCard,
  .c7f964e7e0fc8b47-metadataContainer,
  .a9b45282395ecdfc-review {
    background-color: color-mix(
      in srgb,
      transparent 50%,
      var(--background-tertiary)
    ) !important;
  }
  ._1fed1dd06c7aabf7-background,
  ._5cea9da4c2ca012f-card,
  ._1a4ef2934d882343-settingCard,
  .a9b45282395ecdfc-notice,
  ._28e57b0268546d72-onboardingStepContainer,
  ._981f723644a1a061-descriptionBox,
  ._23e6b439306f125a-sidebar::before {
    background-color: color-mix(
      in srgb,
      transparent 50%,
      var(--background-secondary)
    ) !important;
  }
  ._5cea9da4c2ca012f-header,
  ._5153730f0c7cf20d-recommendedServerCard {
    background-color: color-mix(
      in srgb,
      transparent 50%,
      var(--background-secondary-alt)
    ) !important;
  }
  ._23e6b439306f125a-toolsContainer {
    background-color: color-mix(
      in srgb,
      transparent 50%,
      var(--background-primary)
    ) !important;
  }
  .vc-addon-card,
  ._43dab84f7529cb48-auditLog,
  ._4b8d892e5bcb9bd7-scrollerContainer,
  ._73000d97b1b29da5-upsellContainer {
    background-color: color-mix(
      in srgb,
      transparent 50%,
      var(--card-primary-bg)
    ) !important;
  }
  ._43dab84f7529cb48-headerExpanded {
    background-color: color-mix(
      in srgb,
      transparent 50%,
      var(--card-secondary-bg)
    ) !important;
  }
  ._50a5493e9d9cc496-authedAppV2,
  .connectContainer_c7f964,
  .c7f964e7e0fc8b47-connectionHeader {
    background-color: color-mix(
      in srgb,
      transparent 50%,
      var(--bg-surface-raised)
    ) !important;
  }
  ._50a5493e9d9cc496-headerV2,
  .c7f964e7e0fc8b47-connectionsContainer > div > button,
  .c7f964e7e0fc8b47-connection {
    background-color: color-mix(
      in srgb,
      transparent 50%,
      var(--bg-mod-subtle)
    ) !important;
  }
  ._23e6b439306f125a-contentRegionScroller {
    margin-top: 46px !important;
    background-color: transparent !important;
  }
}

._960e4207cea8323e-layer[aria-hidden="true"] + ._960e4207cea8323e-layer {
  background-color: rgba(0, 0, 0, calc(var(--blrsm-dimmness) / 100)) !important;
  backdrop-filter: blur(var(--blrsm-blur-by));
}
