/**
 * @name Chat Related Toasts at Top v2
 * @author NSPG911
 * @version 2.0.0
 * @description Seamlessly blends both the `New Messages` and `Viewing Old Messages` at the top of the chat panel
 * @source https://nspc911.github.io/themes/vencord/ChatRelatedToastsAtTopv2.theme.css
*/

.chatHeaderBar_dc83f5,
.newTopicsBarContainer__0f481,
.topicsPillContainer__0f481  {
  position: absolute;
  background: var(--accent-3);
  border-bottom: 0px solid transparent !important;
  padding: 0 8px;
  width: calc(100% - 40px);
  left: 12px;
  height: 32px;
  top: 10px;
  border-radius: var(--radius-sm);
  z-index: 10;
  box-shadow: unset;
  outline: none;
  &:not(:hover) .chatHeaderBarText_dc83f5 {
    color: var(--control-text-primary-default) !important;
  }
  &:has(> button:hover) .chatHeaderBarText_dc83f5 {
    color: white !important;
  }
}

.topicsPillCarets__0f481 {
  padding-inline-end: 0px !important;
  -webkit-padding-inline-end: 0px !important;
}
.topicsPillCarets__0f481 {
  padding-inline-end: 0 !important;
  -webkit-padding-inline-end: 0 !important;
}
.topicsPillContainer__0f481 {
  padding-left: 3px !important;
}
.newTopicsBarTopicSection__0f481 {
  margin-inline-start: 3px !important;
  -webkit-margin-inline-start: 3px !important;
}
.jumpToPresentBar__0f481 {
  position: absolute;
  top: 10px;
  bottom: unset;
  margin: unset !important;
  width: calc(100% - 24px);
  left: 12px;
  background-color: var(--accent-3);
  padding: 0 8px;
  min-height: unset;
  height: 32px;
  border-radius: var(--radius-sm);
  z-index: 10;
  box-shadow: unset;
  transition: top 0.5s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  button {
    border: none;
  }
  [class*="buttonChildrenWrapper"] {
    padding: var(--space-4) var(--space-8) !important;
    min-height: unset !important;
    box-shadow: unset;
    border: unset;
  }
  &:not(:hover) .barButtonMain__0f481 {
    color: var(--control-text-primary-default);
  }
}
.newMessagesBar__0f481 {
  box-shadow: unset !important;
  z-index: 10;
}
.newMessagesBar__0f481 ~ .jumpToPresentBar__0f481,
.newTopicsBarContainer__0f481 ~ .jumpToPresentBar__0f481 {
  top: 39px;
  border-radius: 0 0 var(--radius-sm) var(--radius-sm);
}
.newMessagesBar__0f481:has(~ .jumpToPresentBar__0f481),
.newTopicsBarContainer__0f481:has(~ .jumpToPresentBar__0f481) {
  border-radius: var(--radius-sm) var(--radius-sm) 0 0;
}
.chatHeaderBar_dc83f5 ~ .messagesWrapper__36d07 > .jumpToPresentBar__0f481 {
  top: 43px;
}
.newTopicsBarContainer__0f481 {
  width: calc(100% - 41px);
  z-index: 1000;
}
.chatHeaderBar_dc83f5:hover
  ~ .messagesWrapper__36d07
  > .jumpToPresentBar__0f481,
.chatHeaderBar_dc83f5
  ~ .messagesWrapper__36d07
  > .jumpToPresentBar__0f481:hover {
  top: 50px;
}
