/**
 * @name CSS Snippets
 * @author NIL
 * @version 0.0.0
 * @description A bunch of stuff taken from Vencord's CSS Snippets channel. I do not own anything!
 * @source https://github.com/NSPC911/vc-themes
*/

/* Show icons in Discord Settings */
@import url("https://gold-me.github.io/DiscordIcons/main.css");

/* User Gradient
   From: https://canary.discord.com/channels/1015060230222131221/1028106818368589824/1298575279169605693
   Heavily modified by me */

:root {
  --gDM-online: 67, 181, 129;
  --gDM-offline: 99, 107, 117;
  --gDM-dnd: 240, 71, 71;
  --gDM-idle: 250, 166, 26;
  --gDM-streaming: 100, 61, 167;
  --gDM-border-radius: 50px;
  --gDM-opacity: 0.5;
}

#app-mount .mentioned_d5deea:before {
  background-color: transparent !important;
  width: 0px;
  border: none;
}

[class*="interactiveSelected"] {
  background: transparent !important;
}

[class*="member"][class*="selected"] > div {
  background: transparent !important;
}

[class^="memberInner"] {
  border-radius: var(--gDM-border-radius);
  transition: background 1s ease-in-out;
  padding: 5px !important;
}

[class*="interactive"] {
  transform: translateX(3px);

  [class^="layout"] {
    transform: translateX(-3px);
  }
}

.clickable__91a9d:hover .childContainer__91a9d,
.interactive__972a0:hover {
  background-color: transparent !important;
  cursor: pointer;
}

[class*="interactive"] [class^="link_"],
[class*="member"][class*="container"] [class^="memberInner"] {
  background: linear-gradient(
    to right,
    rgba(var(--gDM-offline), var(--gDM-opacity)),
    transparent
  );
  border-radius: var(--gDM-border-radius) 0 0 var(--gDM-border-radius);
  width: -webkit-fill-available;
  transition: background 0.5s ease;

  > [class^="childContainer"] {
    padding: 0;
  }

  &:has(> div > [aria-label$="Online"]),
  &:has(> div > div > [aria-label$="Online"]) {
    background: linear-gradient(
      to right,
      rgba(var(--gDM-online), var(--gDM-opacity)),
      transparent
    ) !important;
  }
  &:has(> div > div > [aria-label*="Do Not Disturb"])
    &:has(> div > [aria-label*="Do Not Disturb"]) {
    background: linear-gradient(
      to right,
      rgba(var(--gDM-dnd), var(--gDM-opacity)),
      transparent
    ) !important;
  }
  &:has(> div > div > [aria-label*="Idle"])
    &:has(> div > [aria-label*="Idle"]) {
    background: linear-gradient(
      to right,
      rgba(var(--gDM-idle), var(--gDM-opacity)),
      transparent
    ) !important;
  }
  &:has(> div > div > [aria-label*="Streaming"])
    &:has(> div > [aria-label*="Streaming"]) {
    background: linear-gradient(
      to right,
      rgba(var(--gDM-streaming), var(--gDM-opacity)),
      transparent
    ) !important;
  }
}

/* Gradient Reply/Mention messages
   From: https://canary.discord.com/channels/1015060230222131221/1134844326933954622/1294823473390030890 */
[class*="messageListItem_"] {
  margin-left: 5px;
}

div[class*="cozy_"][class*="wrapper_"] {
  border-radius: 8px;
}

li[id^="chat-messages"]:has(> [class*="mentioned_"]),
li[id^="chat-messages"]:has(> [class*="replying_"]) {
  position: relative;
  border-radius: 8px;
  &::before {
    content: "";
    position: absolute;
    display: block;
    top: -5px;
    bottom: -5px;
    left: 0;
    right: 0;
    pointer-events: none;
    border-radius: 8px;
    width: 100%;
    pointer-events: none;
  }
  &:hover::before {
    opacity: 0.5;
  }
}

li[id^="chat-messages"]:has(> [class*="mentioned_"])::before {
  background: linear-gradient(
    to right,
    var(--background-mentioned),
    transparent
  ) !important;
  border-left: 0px solid var(--info-warning-foreground);
}

li[id^="chat-messages"]:has(> [class*="replying_"])::before {
  background: linear-gradient(
    to right,
    var(--background-message-highlight),
    transparent
  );
  border-left: 0px solid var(--brand-500);
}

li[id^="chat-messages"] [class^="message"] {
  background: none !important;
}

div[class*="repliedMessageSpine_"] {
  transition: none;
}

/* Hide status icons
   From https://canary.discord.com/channels/1015060230222131221/1134844326933954622/1299991457079234572 */
[class^="avatar_"] svg > :is(rect, mask) {
  display: none;
}

[class^="avatar_"] foreignObject {
  border-radius: 100%;
  mask: none;
}

/* Make the App Launcher disappear among a sea of butterflies */
[class*="channelAppLauncher_"] {
  display: none !important;
}

/* Let the User Area elements breathe */
[class^="panels"] > [class^="container"] {
  height: unset !important;
  align-items: unset !important;
  padding: 6px 8px !important;
  flex-direction: column-reverse !important;
  gap: 2px !important;
}

[class^="avatarWrapper"] {
  margin-right: unset !important;
  margin-left: unset !important;
  padding-left: 4px !important;
}

[class^="container"] > [class*="buttons"] {
  justify-content: space-evenly !important;
}

/* space out the vc buttons */
.visual-refresh #app-mount [class*="voiceButtonsContainer"] {
  flex-direction: column;
  margin-left: var(--gap);
  margin-right: var(--gap);

  > button {
    margin: 0;
    width: fit-content;
    height: fit-content;
  }
}

/* Hide chatbox when no access */
[class^="channelTextAreaDisabled"] {
  display: none !important;
  opacity: 0 !important;
  position: absolute !important;
  height: 0px !important;
  width: 0px !important;
  z-index: 0 !important;
}

/* Fix long ass profiles */
[class*="userPopoutOverlayBackground"] {
  max-height: 60vh;
}

/* Blurred Background while loading */
[class*="container_"][class*="fixClipping_"] {
  background: 0 0 !important;
  backdrop-filter: blur(5px) !important;
}

/* Remove stickers and gifting */
.buttons__74017 > [aria-label="Send a gift"],
.buttons__74017
  > div:has(
    > div[aria-label="Open GIF picker"],
    > div[aria-label="Open sticker picker"]
  ) {
  display: none;
}

/* Hide recent activity */
[class^="membersGroup"]:has(> [role="button"]),
[class^="member"] [class^="container"]:has([class*="badges"]) {
  display: none;
}

/* Hide typing dots in chat bar */
svg[class^="ellipsis"] {
  display: none !important;

  & + span {
    margin-left: 5px !important;
  }
}

/* Pin the Page Switcher in Finder */
[class^="searchResultsWrap_"]
  [class^="container_"]:has([class^="pageControlContainer_"]) {
  position: sticky;
  bottom: 0px;
  z-index: 999;
  background: var(--bg-overlay-1, var(--background-secondary));
}

/* makes profiles that are long \
\  because of roles be smaller */
[class^="mutuals"]
  + [class^="root"]:not(:has(> [aria-label="View All Roles"])) {
  max-height: 20vh;
}

/* turn every text white on hover */
*:hover {
  color: white !important;
}

/* Comfy Quick Switcher */
.quickswitcher_ac6cb0 {
  background: 0 0 !important;
  padding: 10px;
  background-color: transparent !important;
  backdrop-filter: blur(20px);

  > * {
    background: inherit !important;
    background-color: inherit !important;
  }

  .scroller_ac6cb0 {
    margin: 0;
    border-radius: 0 0 8px 8px;
    scrollbar-width: none;
    padding: 4px !important;
  }

  .input_ac6cb0 {
    height: 50px;
  }

  .input_ac6cb0[value=""] {
    border-radius: 8px;
  }

  .input_ac6cb0:not([value=""]) {
    border-radius: 8px 8px 0 0;
  }

  .protip_ac6cb0 {
    /* screw the protips */
    display: none;
  }

  .result__71961 {
    border-radius: 8px;
  }

  .content__99f8c
    > div:not(.result__71961):not([aria-hidden="true"])
    > .content__71961 {
    height: 20px;
    line-height: 20px;

    > .header__71961 {
      line-height: 20px;
      margin-top: 0;
      margin-bottom: 4px;
    }
  }
}

.backdrop__1a911:has(+ .layer_bc663c .quickswitcher_ac6cb0) {
  opacity: 0;
}

/* Memberlist Hover Visual Refresh*/
.container_c8ffbb,
[class*="membersWrap_"] {
  justify-content: unset;
  min-width: unset !important;
  width: calc(60px - var(--gap) - var(--gap));
  right: 0;
}

.container_c8ffbb {
  overflow: visible !important;
}

[class*="member_"] {
  right: 3px;
}

.memberInner__5d473,
.content__91a9d,
.membersGroup_c8ffbb {
  margin-left: 3px;
}

.memberInner__5d473 {
  margin-left: -6px;
}

[class*="membersWrap_"] [class*="members_"] {
  background-color: transparent;
  border-radius: var(--radius-lg);
}

[class*="membersWrap_"]:hover [class*="members_"] {
  transform: translateX(-196px);
  backdrop-filter: blur(2px);
}

[class*="membersWrap_"]:hover [class*="membersGroup_"] {
  overflow: visible;
}

[class*="membersWrap_"] [class*="membersGroup_"] {
  cursor: default;
  overflow: hidden;
}

/* Yapping so hard, chatting isnt a thing
   From: https://discord.com/channels/1015060230222131221/1028106818368589824/1364793119886938175 */
.typingDots_b88801 > .ellipsis_b88801 + .text_b88801 {
  font-size: 0;
  height: 16px;

  & > strong {
    font-size: 12px;

    &::after {
      color: var(--text-muted);
    }

    &:last-child::after {
      content: " is yapping...";
      font-weight: 500;
    }

    &:last-child:not(:first-child)::after {
      content: " are yapping...";
      font-weight: 500;
    }

    &:not(:last-child):nth-last-child(2)::after {
      content: " and ";
    }

    &:not(:last-child)::after {
      content: ", ";
      font-weight: 500;
    }
  }

  &:not(:has(> strong))::after {
    font-size: 12px;
    content: "Several people are yapping...";
  }
}

/* Smaller banner */
.notice__6e2b9 {
  z-index: 102;
  height: fit-content;
}

/* dont remember what this was for */
form > div.focusLock__49fc1 > div.rootWithShadow__49fc1 {
  background-color: color-mix(
    in srgb,
    transparent 50%,
    var(--modal-background)
  );

  .horizontalReverse__7c0ba {
    background-color: color-mix(
      in srgb,
      transparent 50%,
      var(--modal-footer-background)
    );
  }

  .input__0f084 {
    background-color: color-mix(
      in srgb,
      transparent 50%,
      var(--input-background)
    );
  }
}

/* I prefer my font */
.visual-refresh #app-mount :is(pre, code, [class^="codeLine"]) {
  font-family: "CaskaydiaCove NF" !important;
}
