/**
 * @name CSS Snippets
 * @author NIL
 * @version 0.0.0
 * @description A bunch of stuff taken from Vencord's CSS Snippets channel. I do not own anything!
 * @source https://github.com/NSPC911/vc-themes
*/

/* Show icons in Discord Settings */
@import url("https://gold-me.github.io/DiscordIcons/main.css");

/* User Gradient
   From: https://canary.discord.com/channels/1015060230222131221/1028106818368589824/1298575279169605693
   Heavily modified by me

:root {
  --gDM-online: 67, 181, 129;
  --gDM-offline: 99, 107, 117;
  --gDM-dnd: 240, 71, 71;
  --gDM-idle: 250, 166, 26;
  --gDM-streaming: 100, 61, 167;
  --gDM-border-radius: 50px;
  --gDM-opacity: 0.5;
}

#app-mount ._5126c0cd07f243a0-mentioned:before {
  background-color: transparent !important;
  width: 0px;
  border: none;
}

[class*="interactiveSelected"] {
  background: transparent !important;
}

[class*="member"][class*="selected"] > div {
  background: transparent !important;
}

[class^="memberInner"] {
  border-radius: var(--gDM-border-radius);
  transition: background 1s ease-in-out;
  padding: 5px !important;
}

[class*="interactive"] {
  transform: translateX(3px);

  [class^="layout"] {
    transform: translateX(-3px);
  }
}

._91a9d7f7e5248a56-clickable:hover ._91a9d7f7e5248a56-childContainer,
._972a0d22c8afa7f0-interactive:hover {
  background-color: transparent !important;
  cursor: pointer;
}

[class*="interactive"] [class^="link_"],
[class*="member"][class*="container"] [class^="memberInner"] {
  background: linear-gradient(
    to right,
    rgba(var(--gDM-offline), var(--gDM-opacity)),
    transparent
  );
  border-radius: var(--gDM-border-radius) 0 0 var(--gDM-border-radius);
  width: -webkit-fill-available;
  transition: background 0.5s ease;

  > [class^="childContainer"] {
    padding: 0;
  }

  &:has(> div > [aria-label$="Online"]),
  &:has(> div > div > [aria-label$="Online"]) {
    background: linear-gradient(
      to right,
      rgba(var(--gDM-online), var(--gDM-opacity)),
      transparent
    ) !important;
  }
  &:has(> div > [aria-label*="Do Not Disturb"]),
  &:has(> div > div > [aria-label*="Do Not Disturb"]) {
    background: linear-gradient(
      to right,
      rgba(var(--gDM-dnd), var(--gDM-opacity)),
      transparent
    ) !important;
  }
  &:has(> div > [aria-label*="Idle"]),
  &:has(> div > div > [aria-label*="Idle"]) {
    background: linear-gradient(
      to right,
      rgba(var(--gDM-idle), var(--gDM-opacity)),
      transparent
    ) !important;
  }
  &:has(> div > [aria-label*="Streaming"]),
  &:has(> div > div > [aria-label*="Streaming"]) {
    background: linear-gradient(
      to right,
      rgba(var(--gDM-streaming), var(--gDM-opacity)),
      transparent
    ) !important;
  }
}
*/

/* Gradient Reply/Mention messages
   From: https://canary.discord.com/channels/1015060230222131221/1134844326933954622/1294823473390030890
[class*="messageListItem_"] {
  margin-left: 5px;
}

div[class*="cozy_"][class*="wrapper_"] {
  border-radius: 8px;
}

li[id^="chat-messages"]:has(> [class*="mentioned_"]),
li[id^="chat-messages"]:has(> [class*="replying_"]) {
  position: relative;
  border-radius: 8px;
  &::before {
    content: "";
    position: absolute;
    display: block;
    top: -5px;
    bottom: -5px;
    left: 0;
    right: 0;
    pointer-events: none;
    border-radius: 8px;
    width: 100%;
    pointer-events: none;
  }
  &:hover::before {
    opacity: 0.5;
  }
}

li[id^="chat-messages"]:has(> [class*="mentioned_"])::before {
  background: linear-gradient(
    to right,
    var(--background-mentioned),
    transparent
  ) !important;
  border-left: 0px solid var(--info-warning-foreground);
}

li[id^="chat-messages"]:has(> [class*="replying_"])::before {
  background: linear-gradient(
    to right,
    var(--background-message-highlight),
    transparent
  );
  border-left: 0px solid var(--brand-500);
}

li[id^="chat-messages"] [class^="message"] {
  background: none !important;
}

div[class*="repliedMessageSpine_"] {
  transition: none;
}
*/

/* Make the App Launcher disappear among a sea of butterflies */
.app-launcher-entrypoint {
  display: none !important;
}

/* Let the User Area elements breathe */
._5e434347c823b592-panels > ._37e49614b9f110a9-container {
  height: unset !important;
  align-items: unset !important;
  padding: 6px 8px !important;
  flex-direction: column-reverse !important;
  gap: 2px !important;
}

._37e49614b9f110a9-avatarWrapper {
  margin-right: unset !important;
  margin-left: unset !important;
  padding-left: 4px !important;
}

_37e49614b9f110a9-avatarWrapper > [class*="buttons"] {
  justify-content: space-evenly !important;
}

/* space out the vc buttons */
.visual-refresh #app-mount [class*="voiceButtonsContainer"] {
  flex-direction: column;
  margin-left: var(--gap);
  margin-right: var(--gap);

  > button {
    margin: 0;
    width: fit-content;
    height: fit-content;
  }
}

/* fix vc buttons area */
.align-chat-input ._06d6249a1f2584ac-rtcConnectionStatus,
.align-chat-input .e131a99484292a19-connection {
  max-height: unset !important;
}
._06d6249a1f2584ac-ping {
  display: none !important;
}

/* Hide chatbox when no access */
._740174f3d6a2c8fe-channelTextAreaDisabled {
  display: none !important;
  opacity: 0 !important;
  position: absolute !important;
  height: 0px !important;
  width: 0px !important;
  z-index: 0 !important;
}

/* Fix long ass profiles */
[class*="userPopoutOverlayBackground"] {
  max-height: 60vh;
}

/* Blurred Background while loading */
[class*="container_"][class*="fixClipping_"] {
  background: 0 0 !important;
  backdrop-filter: blur(5px) !important;
}

/* Remove stickers and gifting */
._740174f3d6a2c8fe-buttons > [aria-label="Send a gift"],
._740174f3d6a2c8fe-buttons
  > div:has(
    > div[aria-label="Open GIF picker"],
    > div[aria-label="Open sticker picker"]
  ) {
  display: none;
}

/* Hide recent activity */
.c8ffbb79449f399c-membersGroup:has(> [role="button"]) {
  display: none;
  & + div:not([class]),
  & + div:not([class]) + div:not([class]),
  & + div:not([class]) + div:not([class]) + div:not([class]) {
    display: none;
  }
}

/* Hide typing dots in chat bar */
.b8880176888cc928-ellipsis {
  display: none !important;
  & + span {
    margin-left: 5px !important;
  }
}

/* Pin the Page Switcher in Finder */
.a9e7064fdee8e9b0-searchResultsWrap
  ._86c0fae6715927dc-container:has(> .c1521037ef09de7e-pageControlContainer) {
  position: sticky;
  bottom: 0px;
  z-index: 999;
  background: var(--bg-overlay-1, var(--background-secondary));
}

/* turn every text white on hover */
*:hover {
  color: white !important;
}

/* Memberlist Hover Visual Refresh
.c8ffbb79449f399c-container,
[class*="membersWrap_"] {
  justify-content: unset;
  min-width: unset !important;
  width: calc(60px - var(--gap) - var(--gap));
  right: 0;
}

.c8ffbb79449f399c-container {
  overflow: visible !important;
}

[class*="member_"] {
  right: 3px;
}

._5d473ecff348c314-memberInner,
._91a9d7f7e5248a56-content,
.c8ffbb79449f399c-membersGroup {
  margin-left: 3px;
}

._5d473ecff348c314-memberInner {
  margin-left: -6px;
}

[class*="membersWrap_"] [class*="members_"] {
  background-color: transparent;
  border-radius: var(--radius-lg);
}

[class*="membersWrap_"]:hover [class*="members_"] {
  transform: translateX(-196px);
  backdrop-filter: blur(2px);
}

[class*="membersWrap_"]:hover [class*="membersGroup_"] {
  overflow: visible;
}

[class*="membersWrap_"] [class*="membersGroup_"] {
  cursor: default;
  overflow: hidden;
} */

/* Yapping so hard, chatting isnt a thing
   From: https://discord.com/channels/1015060230222131221/1028106818368589824/1364793119886938175 */
.b8880176888cc928-typingDots > .b8880176888cc928-ellipsis + .b8880176888cc928-text {
  font-size: 0;
  height: 16px;
  & > strong {
    font-size: 12px;
    &::after {
      color: var(--text-muted);
    }
    &:last-child::after {
      content: " is yapping...";
      font-weight: 500;
    }
    &:last-child::after {
      content: " are yapping...";
      font-weight: 500;
    }
    &:nth-last-child(2)::after {
      content: " and ";
    }
    &:not(:last-child)::after {
      content: ", ";
      font-weight: 500;
    }
  }

  &:not(:has(> strong))::after {
    font-size: 12px;
    content: "Several people are yapping...";
  }
}

/* Smaller banner */
._6e2b9359c6f84cfd-notice {
  z-index: 102;
  height: fit-content;
}

/* I prefer my font */
.visual-refresh #app-mount :is(pre, code, [class$="codeLine"]) {
  font-family: "CaskaydiaCove NF" !important;
}
