/**
 * @name Horizontal Server List
 * @author Gibbu#1211
 * @version 2.1.0
 * @invite ZHthyCw
 * @description Moves the server list from the left to the top of Discord. Compatible with Server Folders and most basic transparent themes
 * @source https://github.com/DiscordStyles/HorizontalServerList
 * @website https://www.gibbu.me
*/

@property --extra-margin {
  syntax: "<length>";
  inherits: true;
  initial-value: 0px;
}

@property --gap {
  syntax: "<length>";
  inherits: true;
  initial-value: 0px;
}

:root {
  --HSL-server-scale: 1; /* Scale of the server icons, decimals allowed. | DEFAULT: 1 */
  --HSL-server-direction: column; /* Direction of the server list. | OPTIONS: column, column-reverse | DEFAULT: column */
  --HSL-server-alignment: flex-start; /* Alignment of the server list. | OPTIONS: flex-start, center, flex-end | DEFAULT: flex-start */
  --__server-container: calc(
    var(--custom-guild-list-width) * var(--HSL-server-scale)
  );
  --__server-y-padding: 10px;
  --extra-margin: 0px;
}

.content_c48ade {
  margin-top: var(--__server-container);
  overflow: visible;
}

#app-mount .sidebar_c48ade {
  border-radius: 0;
  overflow: visible;
}
#app-mount .guilds_c48ade {
  transform-origin: top left;
  rotate: -90deg;
  scale: var(--HSL-server-scale);
  bottom: unset;
  position: absolute !important;
  left: 0;
}
#app-mount .tree_ef3116 {
  padding-top: var(--__server-y-padding);
  padding-bottom: var(--__server-y-padding);
}
#app-mount .wrapper_cc5dd2 {
  rotate: 90deg;
}
#app-mount .itemsContainer_ef3116,
#app-mount .stack_dbd263 {
  flex-direction: var(--HSL-server-direction);
  justify-content: var(--HSL-server-alignment);
}

.guilds_c48ade {
  overflow-x: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none !important;
  }
}

/* Half Half */
.sidebar_c48ade > [style$=";"] {
  position: fixed;
  z-index: 101;
  transform: translateX(50vw);
  > nav {
    height: calc(50vw - (var(--gap) * 2)) !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    > ul {
      padding-top: 0 !important;
      > div > div {
        padding-top: 8px !important;
      }
    }
  }
}
.sidebar_c48ade:not(:has(> [style$=";"])) > .wrapper_ef3116.guilds_c48ade {
  height: calc(100vw - (var(--gap) * 2)) !important;
}
.sidebar_c48ade:has(> [style$=";"]) > .wrapper_ef3116.guilds_c48ade {
  height: calc(50vw) !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  .stack_dbd263.scroller_ef3116
    > :is(
      .listItem__650eb:has(> .listItemWrapper__91816),
      .tutorialContainer__650eb:has(> .wrapper_d144f8)
    ) {
    display: none !important;
  }
}

/* support for midnights stupid grid changes */
.visual-refresh .panels_c48ade {
  max-width: calc(
    var(--custom-guild-sidebar-width) - var(--__server-container) + 1px
  );
  margin-left: var(--gap);
}
.visual-refresh .actionButtons_e131a9 button {
  padding: 0 !important;
}
