/**
 * @name Members List shorten unless hover
 * @author NSPG911
 * @version 1.0.0
 * @description Makes the members list less wide while not hovered on, and brings it to its full width once hovered on
 * @source https://github.com/NSPC911/vc-themes
*/

:is(.f75fb00fb7356cbe-chatContent, .f369dba7416c67f0-container) + :is(.c8ffbb79449f399c-membersWrap, .c8ffbb79449f399c-container) {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  transform: translateX(calc(100% - 55px));
  transition-duration: 0.5s;
  transition-property: transform, border !important;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  &:hover {
    transform: translateX(0);
  }
}

:is(.f75fb00fb7356cbe-chatContent, .f369dba7416c67f0-container):has(+ .c8ffbb79449f399c-membersWrap, + .c8ffbb79449f399c-container) {
  margin-right: calc(55px + var(--gap));
}
.f369dba7416c67f0-header {
  z-index: 0;
}
