/**
 * @name Refreshed Seamless Chat Bar
 * @author NSPG911
 * @version 1.1.0
 * @description Moves around elements near the Chat Bar to be seamless with the message bar
 * @source https://nspc911.github.io/themes/vencord/RefreshedSeamlessChatBar.theme.css
*/

:root {
  /* Custom padding for the chat box */
  --rscb-chat-box-padding: 8px;
  /* Whether you want the messages to clip through *\
  \*  the gap between slowmode and typing people   */
  --rscb-clip-chat-through-typing-bar: 0;
  /* certain older themes havent been *\
  \* updated, use this if necessary   */
  --rscb-use-fixed-attach-button: 0;
}

.visual-refresh .f75fb00fb7356cbe-form {
  display: flex;
  flex-direction: column;
  padding: 4px var(--rscb-chat-box-padding) var(--rscb-chat-box-padding)
    var(--rscb-chat-box-padding) !important;
  /* Normal chatbar */
  .f75fb00fb7356cbe-channelTextArea {
    margin-bottom: 0px;
    margin-right: 1px;
    /* reply bar */
    ._740174f3d6a2c8fe-stackedBars {
      border-bottom-color: transparent !important;
      background-color: var(--chat-background-default);
    }
  }
  /* slowmode bar + typing indicator */
  .b8880176888cc928-base {
    border-color: transparent !important;
    position: static;
    order: -1;
    background: transparent !important;
    background-image: transparent !important;
    border: 1px solid var(--border-faint);
    border-bottom: none;
    border-radius: var(--radius-sm) var(--radius-sm) 0 0;
    padding-left: 0 !important;
    transform: translateX(-1px);
    .b8880176888cc928-typingDots,
    .b216994de061a9e2-cooldownText {
      background-color: var(--chat-background-default);
      height: 24px;
      padding-right: 8px;
      padding-left: 8px;
      border-radius: 8px 8px 0 0;
      border: 1px solid var(--border-faint) !important;
      border-bottom-color: transparent !important;
      /* because they dont have the same position */
      &.b8880176888cc928-typingDots {
        flex: unset !important; /* latest build uses flex for some fucking reason */
        margin-left: 0 !important;
        &:not(:has(span > strong)) {
          display: none !important;
        }
      }
      &.b216994de061a9e2-cooldownText {
        transform: translateY(1px);
      }
    }
  }
  ._841c8f861f7b2704-threadSuggestionBar {
    /* fix a certain pixel issue that bugged me to oblivion */
    border-top: unset !important;
  }
  .b77158512e0ab116-channelAttachmentArea {
    background-color: var(--chat-background-default);
  }
  /* the stars of the show, the :has */
  /* check for typing thing */
  &:has(> .b8880176888cc928-typing > .b8880176888cc928-typingDots > span > strong)
    .f75fb00fb7356cbe-channelTextArea {
    border-top-left-radius: 0 !important;
  }
  /* check for cooldown thing */
  &:has(> .b8880176888cc928-typing > .b216994de061a9e2-cooldownWrapper) .f75fb00fb7356cbe-channelTextArea {
    border-top-right-radius: 0 !important;
  }
  .b216994de061a9e2-cooldownWrapper {
    padding: 3px 0px 3px 8px;
    transform: translateX(1px);
    .b216994de061a9e2-slowModeIcon {
      margin-left: 0px;
    }
  }
}

._36d072eab2b2e737-chatGradientBase {
  display: none !important;
}

._36d072eab2b2e737-messagesWrapper:not(
  :has(+ .f75fb00fb7356cbe-formWithLoadedChatInput > .b8880176888cc928-typing)
) {
  margin-bottom: 12px;
}
._36d072eab2b2e737-messagesWrapper:has(
  + .f75fb00fb7356cbe-formWithLoadedChatInput > .b8880176888cc928-typing
) {
  ._36d072eab2b2e737-scrollerInner {
    padding-bottom: calc(var(--rscb-clip-chat-through-typing-bar) * 24px);
  }
  ._36d072eab2b2e737-scroller {
    margin-bottom: calc(12px - var(--rscb-clip-chat-through-typing-bar) * 24px);
  }
}
._36d072eab2b2e737-scrollerSpacer {
  height: 7px !important;
}
.align-chat-input ._0923f156a0410684-attachWrapper {
  padding: 7px 10px;
  padding: calc(
      var(--space-12) * (1 - var(--rscb-use-fixed-attach-button)) +
        (7px * var(--rscb-use-fixed-attach-button))
    )
    calc(
      (var(--space-md) - 6px) * (1 - var(--rscb-use-fixed-attach-button)) +
        (10px * var(--rscb-use-fixed-attach-button))
    );
}
