/**
 * @name Anti-Refresh
 * @author NSPG911
 * @version 1.0.0
 * @description Snippets to unrefresh Discord's Visual Refresh
 * @source https://github.com/NSPC911/themes
*/

/* Fix folder icons */
.folderHeaderSmall__48112 {
  --custom-folder-preview-padding: 4px;
}
.folderPreviewGuildIcon__48112 {
  border-radius: 50% !important;
  font-size: 6px !important;
  line-height: 16px;
}

/* Fix compact timestamps */
span[class*="timestampInline_"] time::before {
  content: attr(aria-label);
  font-size: 12px;
}

[id^="message-timestamp"] {
  font-size: 0px;
}
