/**
 * @name Anti-Refresh
 * @author NSPG911
 * @version 1.0.0
 * @description Snippets to unrefresh Discord's Visual Refresh
 * @source https://github.com/NSPC911/themes
*/

/* Fix folder icons */
._48112cbe77dc5022-folderHeaderSmall {
  --custom-folder-preview-padding: 4px;
}
._48112cbe77dc5022-folderPreviewGuildIcon {
  border-radius: 50% !important;
  font-size: 6px !important;
  line-height: 16px;
}

/* fix gone timestamps */
span[class*="timestampInline_"] time {
  font-size: 0px;
}

h3 > [class^="timestamp"] > span[class^="hiddenVisually"] {
  clip: unset;
  clip-path: unset;
  overflow: hidden;
  height: fit-content;
  position: relative;
}
