/**
 * @name Chat Related Toasts at Top v2
 * @author NSPG911
 * @version 2.0.0
 * @description Seamlessly blends both the `New Messages` and `Viewing Old Messages` at the top of the chat panel
 * @source https://nspc911.github.io/themes/vencord/ChatRelatedToastsAtTopv2.theme.css
*/

.dc83f5490ab160ad-chatHeaderBar {
  position: absolute;
  background: var(--accent-3);
  border-bottom: 0px solid transparent !important;
  padding: 0 8px;
  width: calc(100% - 40px);
  left: 12px;
  height: 32px;
  top: 10px;
  border-radius: var(--radius-sm);
  z-index: 1;
  box-shadow: unset;
  outline: none;
  &:not(:hover) .dc83f5490ab160ad-chatHeaderBarText {
    color: var(--control-text-primary-default) !important;
  }
  &:has(> button:hover) .dc83f5490ab160ad-chatHeaderBarText {
    color: white !important;
  }
}

._0f481cbbd7530492-jumpToPresentBar {
  position: absolute;
  top: 10px;
  bottom: unset;
  margin: unset !important;
  width: calc(100% - 24px);
  left: 12px;
  background-color: var(--accent-3);
  padding: 0 8px;
  min-height: unset;
  height: 32px;
  border-radius: var(--radius-sm);
  z-index: 10;
  box-shadow: unset;
  transition: top 0.5s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  button {
    border: none;
  }
  [class*="buttonChildrenWrapper"] {
    padding: var(--space-4) var(--space-8) !important;
    min-height: unset !important;
    box-shadow: unset;
    border: unset;
  }
  &:not(:hover) ._0f481cbbd7530492-barButtonMain {
    color: var(--control-text-primary-default);
  }
}
._0f481cbbd7530492-newMessagesBar {
  box-shadow: unset !important;
  z-index: 10;
}
._0f481cbbd7530492-newMessagesBar ~ ._0f481cbbd7530492-jumpToPresentBar {
  top: 39px;
  border-radius: 0 0 var(--radius-sm) var(--radius-sm);
}
.dc83f5490ab160ad-chatHeaderBar ~ ._36d072eab2b2e737-messagesWrapper > ._0f481cbbd7530492-jumpToPresentBar {
  top: 43px;
}
.dc83f5490ab160ad-chatHeaderBar:hover
  ~ ._36d072eab2b2e737-messagesWrapper
  > ._0f481cbbd7530492-jumpToPresentBar,
.dc83f5490ab160ad-chatHeaderBar
  ~ ._36d072eab2b2e737-messagesWrapper
  > ._0f481cbbd7530492-jumpToPresentBar:hover {
  top: 50px;
}
