/**
 * @name CSS Snippets
 * @author NIL
 * @version 0.0.0
 * @description A bunch of stuff taken from Vencord's CSS Snippets channel. I do not own anything!
 * @source https://github.com/NSPC911/vc-themes
*/

/*
User Gradient
Original Message: https://canary.discord.com/channels/1015060230222131221/1028106818368589824/1298575279169605693
Heavily modified by me
*/

:root {
  --gDM-online: 67, 181, 129;
  --gDM-offline: 99, 107, 117;
  --gDM-dnd: 240, 71, 71;
  --gDM-idle: 250, 166, 26;
  --gDM-streaming: 100, 61, 167;
  --gDM-border-radius: 50px;
  --gDM-opacity: 0.5;
  --gDM-selected-opacity: 1;
}
[class$="c91bad"] {
  border-radius: var(--gDM-border-radius);
  transition: background 0.5s ease;
}
.interactive_c91bad [class^="link_"]:has(:is([mask*="online"], [fill="#23a55a"])) {
  background: linear-gradient(to right, rgba(var(--gDM-online), var(--gDM-opacity)), transparent);
}
.interactiveSelected_c91bad [class^="link_"]:has(:is([mask*="online"], [fill="#23a55a"])) {
  background: linear-gradient(to right, rgba(var(--gDM-online), var(--gDM-selected-opacity)), transparent);
}
.interactive_c91bad [class^="link_"]:has(:is([mask*="offline"], [fill="#80848e"])) {
  background: linear-gradient(to right, rgba(var(--gDM-offline), var(--gDM-opacity)), transparent);
}
.interactiveSelected_c91bad [class^="link_"]:has(:is([mask*="offline"], [fill="#80848e"])) {
  background: linear-gradient(to right, rgba(var(--gDM-offline), var(--gDM-selected-opacity)), transparent);
}
.interactive_c91bad [class^="link_"]:has(:is([mask*="dnd"], [fill="#f23f43"])) {
  background: linear-gradient(to right, rgba(var(--gDM-dnd), var(--gDM-opacity)), transparent);
}
.interactiveSelected_c91bad [class^="link_"]:has(:is([mask*="dnd"], [fill="#f23f43"])) {
  background: linear-gradient(to right, rgba(var(--gDM-dnd), var(--gDM-selected-opacity)), transparent);
}
.interactive_c91bad [class^="link_"]:has(:is([mask*="idle"], [fill="#f0b232"])) {
  background: linear-gradient(to right, rgba(var(--gDM-idle), var(--gDM-opacity)), transparent);
}
.interactiveSelected_c91bad [class^="link_"]:has(:is([mask*="idle"], [fill="#f0b232"])) {
  background: linear-gradient(to right, rgba(var(--gDM-idle), var(--gDM-selected-opacity)), transparent);
}
.interactive_c91bad [class^="link_"]:has(:is([mask*="streaming"], [fill="#3f2158"])) {
  background: linear-gradient(to right, rgba(var(--gDM-streaming), var(--gDM-selected-opacity)), transparent);
}
.interactiveSelected_c91bad [class^="link_"]:has(:is([mask*="streaming"], [fill="#3f2158"])) {
  background: linear-gradient(to right, rgba(var(--gDM-streaming), var(--gDM-selected-opacity)), transparent);
}
[class^="memberInner"] {
  border-radius: var(--gDM-border-radius);
  transition: background 1s ease-in-out;
}
.clickable_d808b0 [class^="memberInner"]:has(:is([mask*="online"], [fill="#23a55a"])) {
  background: linear-gradient(to right, rgba(var(--gDM-online), var(--gDM-opacity)), transparent);
}
.selected_d808b0 [class^="memberInner"]:has(:is([mask*="online"], [fill="#23a55a"])) {
  background: linear-gradient(to right, rgba(var(--gDM-online), var(--gDM-selected-opacity)), transparent);
}
.clickable_d808b0 [class^="memberInner"]:has(:is([mask*="offline"], [fill="#f0b232"])) {
  background: linear-gradient(to right, rgba(var(--gDM-offline), var(--gDM-opacity)), transparent);
}
.selected_d808b0 [class^="memberInner"]:has(:is([mask*="offline"], [fill="#f0b232"])) {
  background: linear-gradient(to right, rgba(var(--gDM-offline), var(--gDM-selected-opacity)), transparent);
}
.clickable_d808b0 [class^="memberInner"]:has(:is([mask*="dnd"], [fill="#f23f43"])) {
  background: linear-gradient(to right, rgba(var(--gDM-dnd), var(--gDM-opacity)), transparent);
}
.selected_d808b0 [class^="memberInner"]:has(:is([mask*="dnd"], [fill="#f23f43"])) {
  background: linear-gradient(to right, rgba(var(--gDM-dnd), var(--gDM-selected-opacity)), transparent);
}
.clickable_d808b0 [class^="memberInner"]:has(:is([mask*="idle"], [fill="#f0b232"])) {
  background: linear-gradient(to right, rgba(var(--gDM-idle), var(--gDM-opacity)), transparent);
}
.selected_d808b0 [class^="memberInner"]:has(:is([mask*="idle"], [fill="#f0b232"])) {
  background: linear-gradient(to right, rgba(var(--gDM-idle), var(--gDM-selected-opacity)), transparent);
}
.clickable_d808b0 [class^="memberInner"]:has(:is([mask*="streaming"], [fill="#3f2158"])) {
  background: linear-gradient(to right, rgba(var(--gDM-streaming), var(--gDM-opacity)), transparent);
}
.selected_d808b0 [class^="memberInner"]:has(:is([mask*="streaming"], [fill="#3f2158"])) {
  background: linear-gradient(to right, rgba(var(--gDM-streaming), var(--gDM-opacity)), transparent);
}

/* Gradient Reply/Mention messages */
.messageListItem_d5deea {
  margin-left: 5px;
}
div[class*="cozy_"][class*="wrapper_"] {
  border-radius: 8px;
}
div[class*="mentioned_"],
div[class*="replying_"] {
  position: relative;
  border-radius: 8px;
}
div[class*="mentioned_"]:before,
div[class*="replying_"]:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  border-radius: 8px;
  width: 300px;
  opacity: 0.4;
}
div[class*="mentioned_"]:hover:before,
div[class*="replying_"]:hover:before {
  opacity: 0.5;
}
div[class*="mentioned_"] {
  background: var(--background-mentioned);
  border-left: 0px solid var(--info-warning-foreground);
}
div[class*="mentioned_"]:before {
  background: linear-gradient(
    to right,
    var(--info-warning-foreground),
    transparent
  );
}
div[class*="replying_"] {
  background: var(--background-message-highlight);
  border-left: 0px solid var(--brand-500);
}
div[class*="replying_"]:before {
  background: linear-gradient(to right, var(--brand-500), transparent);
}
div[class*="repliedMessageSpine_"] {
  transition: none;
}

/* Make the App Launcher disappear among a sea of butterflies */
.channelAppLauncher_df39bd {
  display: none;
}

/* Mordernize Audio Attachements */
[class^="mosaicItem"] > [class^="wrapperAudio"] > [class^="audioMetadata"] {
  margin-bottom: 24px;
}
[class^="mosaicItem"] > [class^="wrapperAudio"] > [class^="audioControls"] {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 0px 0px 8px 8px;
}

/* Discord actually useable on low width windows */
@media (max-width: 1100px) {
  [class*="sidebar_"] {
    width: 200px;
    .vc-typing-indicator,
    .vc-channelemojis-emoji,
    [class*="guildIconV2Container_"] {
      display: none;
    }
    [class*="containerDefault_"] {
      [role="img"] {
        display: none;
      }
    }
  }
  [class*="chat_"] {
    [class*="membersWrap_"] {
      display: none;
    }
  }
}

/* Let the User Area elements breathe */
[class^="panels"] > [class^="container"] {
  height: unset !important;
  align-items: unset !important;
  padding: 6px 8px !important;
  flex-direction: column-reverse !important;
  gap: 2px !important;
}

[class^="avatarWrapper"] {
  margin-right: unset !important;
  margin-left: unset !important;
  padding-left: 4px !important;
}

[class^="container"] > [class*="buttons"] {
  justify-content: space-evenly !important;
}

/* Hide chatbox when no access */
[class*="channelTextAreaDisabled"] {
  display: none !important;
}
[class*="channelTextAreaDisabled"] {
  opacity: 0 !important;
  position: absolute !important;
  height: 0px !important;
  width: 0px !important;
  z-index: 0 !important;
}

/* Fix long ass profiles */
[class*="userPopoutOverlayBackground"] {
  max-height: 60vh;
}

/* Blurred Background while loading */
.container_e40c16.fixClipping_c7e9c6 {
  background: 0 0;
  backdrop-filter: blur(5px);
}

/* Remove stickers and gifting */
button[aria-label|="Send a gift"] {
  display: none;
}
button[aria-label|="Open sticker picker"] {
  display: none;
}
button[aria-label|="Open GIF picker"] {
  display: none;
}

/* Hide recent activity */
[class^="membersGroup"]:has([role="button"]),
[class^="member"] [class^="container"]:has([class*="badges"]) {
  display: none;
}
