/**
 * @name Horizontal Server List
 * @author Gibbu#1211
 * @version 2.1.0
 * @invite ZHthyCw
 * @description Moves the server list from the left to the top of Discord. Compatible with Server Folders and most basic transparent themes
 * @source https://github.com/DiscordStyles/HorizontalServerList
 * @website https://www.gibbu.me
*/

:root {
  --HSL-server-scale: 1; /* Scale of the server icons, decimals allowed. | DEFAULT: 1 */
  --HSL-server-direction: column; /* Direction of the server list. | OPTIONS: column, column-reverse | DEFAULT: column */
  --HSL-server-alignment: flex-start; /* Alignment of the server list. | OPTIONS: flex-start, center, flex-end | DEFAULT: flex-start */
  --__server-container: calc(
    var(--custom-guild-list-width) * var(--HSL-server-scale)
  );
  --__server-y-padding: 10px;
  --display-ratio-height: 2;
  --display-ratio-width: 3;
}

.content_c48ade {
  margin-top: var(--__server-container);
  overflow: visible;
}

#app-mount .sidebar_c48ade {
  border-radius: 0;
  overflow: visible;
}
#app-mount .guilds_c48ade {
  transform-origin: top left;
  rotate: -90deg;
  scale: var(--HSL-server-scale);
  bottom: unset;
  position: absolute !important;
  left: 0;
}
#app-mount .tree_ef3116 {
  padding-top: var(--__server-y-padding);
  padding-bottom: var(--__server-y-padding);
}
#app-mount .wrapper_cc5dd2 {
  rotate: 90deg;
}
#app-mount .itemsContainer_ef3116,
#app-mount .stack_dbd263 {
  flex-direction: var(--HSL-server-direction);
  justify-content: var(--HSL-server-alignment);
}

/* Move pill to bottom */
[class*="guilds_"] [class*="pill"] {
  position: absolute !important;
  transform: rotate(90deg) translateX(calc(var(--HSL-server-icon-size) + 16px))
    translateY(-50%) !important;
  span {
    border-radius: 4px 0 0 4px !important;
  }
}

/* Half Half */
.container_c48ade > div:not(.base_c48ade) {
  position: absolute;
  z-index: 101;
  margin-top: -21px;
  transform: translateY(113px) translateX(calc(100vh / var(--display-ratio-height) * var(--display-ratio-width) / 2));
  > nav {
    height: calc(100vh / var(--display-ratio-height) * var(--display-ratio-width) / 2) !important;
  }
  & + .base_c48ade .wrapper_ef3116.guilds_c48ade .stack_dbd263 .stack_dbd263 {
    height: calc(100vh / var(--display-ratio-height) * var(--display-ratio-width) / 2 - 130px);
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

/* compact titlebar */
.base_c48ade {
    margin-top: 0 !important;
}

.bar_c38106 {
    transform: translateY(-8px);
    height: 16px;

    .title_c38106 {
        justify-content: left;
        margin-left: 6px;
        margin-top: 6px;
        height: 24px;
    }

    .recentsIcon_c99c29,
    .anchor_edefb8 {
        display: none !important
    }

    .trailing_c38106>.winButtons_c38106 {
        >.winButton_c38106 {
            width: 24px;
            height: 24px;
        }

        &::before {
            display: none !important;
        }
    }
}

.content_c48ade {
    margin-top: 56px;
}