/**
 * @name Horizontal Server List
 * @author Gibbu#1211
 * @version 2.1.0
 * @invite ZHthyCw
 * @description Moves the server list from the left to the top of Discord. Compatible with Server Folders and most basic transparent themes
 * @source https://github.com/DiscordStyles/HorizontalServerList
 * @website https://www.gibbu.me
*/

@property --extra-margin {
  syntax: "<length>";
  inherits: true;
  initial-value: 0px;
}

@property --gap {
  syntax: "<length>";
  inherits: true;
  initial-value: 0px;
}

:root {
  --HSL-server-scale: 1; /* Scale of the server icons, decimals allowed. | DEFAULT: 1 */
  --HSL-server-direction: column; /* Direction of the server list. | OPTIONS: column, column-reverse | DEFAULT: column */
  --HSL-server-alignment: flex-start; /* Alignment of the server list. | OPTIONS: flex-start, center, flex-end | DEFAULT: flex-start */
  --__server-container: calc(
    var(--custom-guild-list-width) * var(--HSL-server-scale)
  );
  --__server-y-padding: 10px;
  --extra-margin: 0px;
}

._5e434347c823b592-content {
  margin-top: var(--__server-container);
  overflow: visible;
  margin-right: var(--gap)
}

#app-mount ._5e434347c823b592-sidebar {
  border-radius: 0;
  overflow: visible;
}
#app-mount ._5e434347c823b592-guilds {
  transform-origin: top left;
  rotate: -90deg;
  scale: var(--HSL-server-scale);
  bottom: unset;
  position: absolute !important;
  left: 0;
}
#app-mount .ef3116c2da186559-tree {
  padding-top: var(--__server-y-padding);
  padding-bottom: var(--__server-y-padding);
}
#app-mount .cc5dd25190031396-wrapper {
  rotate: 90deg;
}
#app-mount .ef3116c2da186559-itemsContainer,
#app-mount .ef3116c2da186559-unreadMentionsIndicatorTop + ul .dbd2630aec71879b-stack {
  flex-direction: var(--HSL-server-direction);
  justify-content: var(--HSL-server-alignment);
}
#app-mount ._6e9f8dce4cc18de3-icon {
   rotate: -90deg;
}

#guild-list-unread-dms ._6e9f8dce4cc18de3-icon {
   rotate: 0deg;
}
._5e434347c823b592-guilds {
  overflow-x: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none !important;
  }
}

/* Half Half */
._5e434347c823b592-sidebar > [style$=";"] {
  position: fixed;
  z-index: 101;
  transform: translateX(50vw);
  > nav {
    height: calc(50vw - (var(--gap) * 3)) !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    > ul {
      padding-top: 0 !important;
      > div > div {
        padding-top: 8px !important;
      }
    }
  }
}
._5e434347c823b592-sidebar:not(:has(> .vc-betterFolders-sidebar))
  > .ef3116c2da186559-wrapper._5e434347c823b592-guilds {
  height: calc(100vw - (var(--gap) * 3)) !important;
}
._5e434347c823b592-sidebar:has(> .vc-betterFolders-sidebar)
  > .ef3116c2da186559-wrapper._5e434347c823b592-guilds {
  height: calc(50vw) !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  .dbd2630aec71879b-stack.ef3116c2da186559-scroller
    > :is(
      ._650eb104245d257b-listItem:has(> ._918165dab2b1e10b-listItemWrapper),
      ._650eb104245d257b-tutorialContainer:has(> .d144f8d4075c78d6-wrapper)
    ) {
    display: none !important;
  }
}

.visual-refresh #app-mount {
  .e131a99484292a19-actionButtons button {
    padding: 0 !important;
  }
  .c38106a3f0c3ca76-trailing {
    gap: 0;
    padding-right: calc(var(--window-control-size) + (8 * var(--gap)));
  }
  /* move controls to server bar in horizontalserverlist (must need!!) */
  .c38106a3f0c3ca76-bar {
    -webkit-app-region: no-drag;

    .c38106a3f0c3ca76-winButtons {
      z-index: 9999;
      position: absolute;
      transform-origin: center;
      rotate: -90deg;
      border-radius: 0 0 var(--radius-lg) var(--radius-lg);
      -webkit-app-region: no-drag;
      padding: 0px var(--gap);
      border: var(--border-thickness) solid var(--border);
      width: calc(
        var(--custom-guild-list-width) - (2.5 * var(--gap))
      ) !important;
      height: calc(var(--window-control-size) + (4 * var(--gap)));
      transform: translate(
        -15.5px,
        calc(var(--window-control-size) * 2 + (7.5 * var(--gap)))
      ) !important;
      background: var(--bg-4) !important;
      &::before {
        display: none !important;
      }

      > .c38106a3f0c3ca76-winButton {
        width: 100%;
        -webkit-app-region: no-drag;
        z-index: 9999;
      }
    }

    .recentsIcon_c99c29,
    [href="https://support.discord.com"]
    {
      display: none;
    }
  }
  /* fix disappeared window controls in hsl */
  ._5e434347c823b592-sidebar:has(> .vc-betterFolders-sidebar)
    > .ef3116c2da186559-wrapper[aria-label="Servers sidebar"] {
    height: calc(50vw - (1.5 * var(--gap))) !important;
  }
  ._5e434347c823b592-sidebar > .ef3116c2da186559-wrapper[aria-label="Servers sidebar"] {
    height: calc(
      100vw - var(--gap) * 4.5 - var(--window-control-size) * 2
    ) !important;
    border-radius: var(--radius-lg) var(--radius-lg) 0 0;
  }

  /* fix hsl clipping through window controls */
  .vc-betterFolders-sidebar ._5e434347c823b592-guilds {
    height: calc(
      50vw - ((var(--gap) * 1.75 + var(--window-control-size)) * 2)
    ) !important;
    z-index: 200;
    border-radius: 0 !important;
  }
  .a22cb0c66246f5d3-primary {
    background: var(--blue-3);
  }
  /* nuke bar */
  ._5e434347c823b592-base {
    grid-template-rows: [top] 0 [titleBarEnd] min-content [noticeEnd] 1fr [contentEnd] min-content [end];
    padding-top: calc(var(--gap) * 2);
  }

  .ef3116c2da186559-unreadMentionsIndicatorTop + ul .dbd2630aec71879b-stack::after {
    height: var(--window-control-size);
  }

  /* nuke extra bar that i cant bother to fix */
  > .c38106a3f0c3ca76-bar {
    display: none !important;
  }

  /* update hsl stuff */
  ._5e434347c823b592-content {
    margin-top: calc(var(--__server-container) + var(--gap));
    ._5e434347c823b592-guilds {
      transform: translateX(var(--gap));
    }
  }

  /* fix misalignment */
  ._5e434347c823b592-page {
    padding-bottom: 0;
  }

  /* obliterate the title */
  .c38106a3f0c3ca76-title {
    display: none !important;
  }
}
