/**
 * @name midnight island chat status
 * @author NSPG911
 * @version 1.0.0
 * @description like seamless chat bar, but each has their own pill
 * @source https://github.com/NSPC911/vc-themes
*/

._36d072eab2b2e737-chatGradientBase {
  display: none !important;
}

.b8880176888cc928-typing {
  &.b8880176888cc928-inTextChannel {
    padding: 0;
    margin-left: var(--space-xs);
    margin-right: var(--space-xs);
    transform: translateY(calc(0px - var(--gap)));
    gap: var(--gap);
  }
  > div {
    background: var(--chat-background-default);
    height: 24px;
    border: 1px solid var(--border-faint);
    border-radius: var(--radius-md);
  }
  .b8880176888cc928-typingDots {
    margin-left: 0;
    transition:
      transform 1s cubic-bezier(0.4, 1, 0.5, 1.5),
      opacity 1s cubic-bezier(0.4, 1, 0.5, 1.5);
    flex: unset;
    padding-right: 1ch;
    &:not(:has(> svg)) {
      transform: translateY(calc(24px + var(--gap)));
      opacity: 0;
      pointer-events: none;
    }
  }
  .b216994de061a9e2-cooldownWrapper {
    padding: 0px 8px 0px 4px;
    min-width: 138px;
  }
}
._36d072eab2b2e737-scrollerSpacer {
  height: calc(40px + var(--gap));
}
