/**
* @name Nocturnal
* @version 3.0.1
* @description For when default discord just isn't dark enough, a theme for those who live a night
* @author Spectra
* @invite PZdnCVD
* @source https://github.com/xcruxiex/themes
* @website https://betterdiscord.app/theme/Nocturnal
*/
@import url("https://xcruxiex.github.io/themes/themes-cores/nocturnal.css");
@import url("https://xcruxiex.github.io/themes/core/badges.css");
@import url("https://xcruxiex.github.io/themes/core/custom-font.css");
:root {
  --backgroundColor01: #1e2731;
  --backgroundColor02: #12171d;
  --mainColor: #2275c9;
  --gradientColor01: #00f260;
  --gradientColor02: #0575e6;
  /* Better Hljs */
  --backgroundCode: #1e2731;
  --backgroundName: rgba(0, 0, 0, 0.2);
  --customFont: "gg sans", sans-serif;
}
#app-mount .quickswitcher_f4e139,
#app-mount .scroller_f4e139,
#app-mount .uploadModalIn_f82cc7 .uploadDropModal_f82cc7 .bgScale_f82cc7 {
  background: var(--backgroundName) !important;
}
#app-mount .tooltipPrimary-3qLMbS {
  background-color: var(--backgroundName) !important;
}
.interactive_f5eb4b:focus-within,
.interactive_f5eb4b:hover {
  background-color: transparent !important;
}
.interactiveSelected_c91bad {
  background: transparent !important;
}
#app-mount .selected_d808b0 .layout_d808b0 {
  background-color: transparent !important
}
/* I couldn't fix Nocturnal not being compatible with Gradient Mention
   message, so I just hardcoded it in here */
#app-mount .mentioned_d5deea::after {
    background: linear-gradient(
    to right,
    var(--info-warning-foreground),
    transparent
  ) !important;
}

#app-mount .mentioned_d5deea:before {
    background-color: transparent !important;
    width: 0px;
    border: none;
}